TZ=America/New_York
FLOOD_SECRET=a98sufasidfaj
RTORRENT_SOCK=false
RTORRENT_SCGI_HOST=rtorrent
RTORRENT_SCGI_PORT=5001
TORRENT_LOCATION=/mnt/trnt
TORRENTRC=/tmp/rtorrent.rc
FLOOD_LOCATION=/tmp/flood_data